In [10]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sqlalchemy import create_engine

from sqlalchemy import create_engine

In [11]:
# database connection parameters

db_host = 'localhost'
db_name = 'truck_delay_classification'
db_password ='Anu0408'
db_port = '5432'
db_user ='postgres'

In [12]:

#create connection engine
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [13]:
# query to select data

query = 'SELECT * FROM city_weather'
query = 'SELECT * from trucks'
query = 'SELECT * FROM routes'
query = ' SELECT * FROM truck_schedule_table'

In [14]:
#Read data into dataframe

df =pd.read_sql_query(query, engine)

In [30]:
# Read data into a DataFrame
df = pd.read_sql_query(query, engine)

In [31]:
df.head

<bound method NDFrame.head of           id  truck_id    route_id       departure_date  \
0          1  30312694  R-b236e347  2019-01-01 07:00:00
1          2  59856374  R-29ea762e  2019-01-01 07:00:00
2          3  12602955  R-a3d67783  2019-01-01 07:00:00
3          4  46619422  R-31ec9310  2019-01-01 07:00:00
4          5  10140178  R-a07c5dbd  2019-01-01 07:00:00
...      ...       ...         ...                  ...
12303  12304  31047945  R-1484a7ea  2019-02-06 07:00:00
12304  12305  14758432  R-927cf900  2019-02-06 07:00:00
12305  12306  31370619  R-5a83ad98  2019-02-06 07:00:00
12306  12307  67332883  R-991530bc  2019-02-06 07:00:00
12307  12308  26630473  R-3f49bd43  2019-02-06 07:00:00

                   estimated_arrival delay
0      2019-01-01 13:13:12.000000000     0
1      2019-01-02 04:01:12.000000000     0
2      2019-01-01 07:45:36.000000000     0
3      2019-01-01 20:46:48.000000000     0
4      2019-01-01 21:34:11.999999999     0
...                              ...   ...
12303  2019-02-13 22:40:12.000000000     0
12304  2019-02-13 18:52:48.000000000     1
12305  2019-02-14 08:01:48.000000000     1
12306  2019-02-13 11:14:24.000000000     1
12307  2019-02-14 02:52:12.000000000     1

[12308 rows x 6 columns]>

In [37]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns 
from sqlalchemy import create_engine

In [45]:
#database connection parameters

db_host = 'localhost'
db_user = 'postgres'
db_password = 'Anu0408'
db_port = '5432'
db_name = 'truck_delay_classification'

In [46]:
#create connection engine

engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [47]:
#query to SQL data

query = 'SELECT * FROM city_weather'

In [48]:
# read data into dataframe

df=pd.read_sql_query(query,engine)

In [49]:
df.head()

,id,city_id,date,hour,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
0,1,C-927ceb5e,2019-01-01,0,30,11,Light snow,0.0,86,6,1019,0,0,0,0
1,2,C-927ceb5e,2019-01-01,100,28,12,Light snow,0.0,86,5,1021,0,0,0,0
2,3,C-927ceb5e,2019-01-01,200,28,13,Moderate snow,0.0,85,4,1022,0,0,0,0
3,4,C-927ceb5e,2019-01-01,300,28,14,Moderate snow,0.0,84,3,1024,0,0,0,0
4,5,C-927ceb5e,2019-01-01,400,28,13,Moderate snow,0.0,84,3,1025,0,0,0,0

In [15]:

import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns 
from sqlalchemy import create_engine

In [21]:
#databaase connection  parameters
db_host = 'localhost'
db_port ='5432'
db_name = 'truck_delay_classification'
db_password = 'Anu0408'
db_user = 'postgres'

In [26]:
# creating connection engine
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [27]:
query = 'SELECT * from city_weather'

In [28]:
df = pd.read_sql_query(query, engine)