# Feature Engineering

In [20]:
import pandas as pd
import numpy as np

In [21]:
import hopsworks

# Initialize connection to Hopsworks using API key (if not already done)
project = hopsworks.login(
    api_key_value="8ViXMBkcrCAUFm4Y.PEDm3J6NPoMDtf2L7MpnYsCdElsDMCPRr1RI3vbPtLnjogWE1f6hdKOoxpQbxrM0"
)

# Step 1: Get the feature store for the project
fs = project.get_feature_store()

# Step 2: Retrieve the feature group for 'city_weather' (you can specify version if needed)
city_weather_fg = fs.get_feature_group(name="city_weather", version=1)

# Step 3: Read the data from the feature group
city_weather_df = city_weather_fg.read()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1104021
Connected. Call `.close()` to terminate connection gracefully.
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (2.46s)

In [22]:
# Step 4: Display the retrieved DataFrame
print(city_weather_df.head())
print(city_weather_df.dtypes)

   index     id     city_id        date  hour  temp  wind_speed  \
0  41583  41583  C-34ae77b0  2019-02-01    14    84          12
1   7175   7175  C-c92599e2  2019-01-23    22    72           3
2  27143  27143  C-6df8beaf  2019-01-28    22     5          15
3  51751  51751  C-328bd8d3  2019-02-11     6    32           2
4  43208  43208  C-b5282c3b  2019-01-08     7    37           9

     description  precip  humidity  visibility  pressure  chanceofrain  \
0  Partly cloudy     0.0        45           6      1016             0
1          Clear     0.0        91           6      1014             0
2       Overcast     0.0        87           6      1021             0
3    Light sleet     0.0        97           6      1023             0
4           Mist     0.0        93           3      1007             0

   chanceoffog  chanceofsnow  chanceofthunder            date_time  \
0            0             0                0  2019-02-01 14:00:00
1            0             0                0  2019-01-23 22:00:00
2            0             0                0  2019-01-28 22:00:00
3            0             0                0  2019-02-11 06:00:00
4            0             0                0  2019-01-08 07:00:00

                 event_date
0 2019-02-01 00:00:00+00:00
1 2019-01-23 00:00:00+00:00
2 2019-01-28 00:00:00+00:00
3 2019-02-11 00:00:00+00:00
4 2019-01-08 00:00:00+00:00
index                            int64
id                               int64
city_id                         object
date                            object
hour                             int64
temp                             int64
wind_speed                       int64
description                     object
precip                         float64
humidity                         int64
visibility                       int64
pressure                         int64
chanceofrain                     int64
chanceoffog                      int64
chanceofsnow                     int64
chanceofthunder                  int64
date_time                       object
event_date         datetime64[us, UTC]
dtype: object

In [23]:
city_weather_df.shape

(51834, 18)

In [24]:
city_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51834 entries, 0 to 51833
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            51834 non-null  int64
 1   id               51834 non-null  int64
 2   city_id          51834 non-null  object
 3   date             51834 non-null  object
 4   hour             51834 non-null  int64
 5   temp             51834 non-null  int64
 6   wind_speed       51834 non-null  int64
 7   description      51834 non-null  object
 8   precip           51834 non-null  float64
 9   humidity         51834 non-null  int64
 10  visibility       51834 non-null  int64
 11  pressure         51834 non-null  int64
 12  chanceofrain     51834 non-null  int64
 13  chanceoffog      51834 non-null  int64
 14  chanceofsnow     51834 non-null  int64
 15  chanceofthunder  51834 non-null  int64
 16  date_time        51834 non-null  object
 17  event_date       51834 non-null  datetime64[us, UTC]
dtypes: datetime64[us, UTC](1), float64(1), int64(12), object(4)
memory usage: 7.1+ MB

In [25]:


# Step 1: Combine 'date' and 'hour' to create 'date_time'
city_weather_df['date_time'] = pd.to_datetime(city_weather_df['date'] + ' ' + city_weather_df['hour'].astype(str) + ':00:00')
city_weather_df.dtypes

index                            int64
id                               int64
city_id                         object
date                            object
hour                             int64
temp                             int64
wind_speed                       int64
description                     object
precip                         float64
humidity                         int64
visibility                       int64
pressure                         int64
chanceofrain                     int64
chanceoffog                      int64
chanceofsnow                     int64
chanceofthunder                  int64
date_time               datetime64[ns]
event_date         datetime64[us, UTC]
dtype: object

In [26]:
# Step 2: Drop the unnecessary columns that are not in the second DataFrame
columns_to_keep = ['city_id', 'temp', 'wind_speed', 'description', 'precip', 'humidity', 'visibility', 'pressure', 'index', 'date_time', 'event_date']
city_weather_df = city_weather_df[columns_to_keep]

# Verify the DataFrame structure
print(city_weather_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51834 entries, 0 to 51833
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city_id      51834 non-null  object
 1   temp         51834 non-null  int64
 2   wind_speed   51834 non-null  int64
 3   description  51834 non-null  object
 4   precip       51834 non-null  float64
 5   humidity     51834 non-null  int64
 6   visibility   51834 non-null  int64
 7   pressure     51834 non-null  int64
 8   index        51834 non-null  int64
 9   date_time    51834 non-null  datetime64[ns]
 10  event_date   51834 non-null  datetime64[us, UTC]
dtypes: datetime64[ns](1), datetime64[us, UTC](1), float64(1), int64(6), object(2)
memory usage: 4.4+ MB
None

In [27]:
city_weather_df.dtypes

city_id                     object
temp                         int64
wind_speed                   int64
description                 object
precip                     float64
humidity                     int64
visibility                   int64
pressure                     int64
index                        int64
date_time           datetime64[ns]
event_date     datetime64[us, UTC]
dtype: object

drivers

In [41]:
import hopsworks
from datetime import datetime
import pandas as pd

# Initialize connection to Hopsworks using API key (if not already done)
project = hopsworks.login(
    api_key_value="8ViXMBkcrCAUFm4Y.PEDm3J6NPoMDtf2L7MpnYsCdElsDMCPRr1RI3vbPtLnjogWE1f6hdKOoxpQbxrM0"
)

# Step 1: Get the feature store for the project
fs = project.get_feature_store()

# Step 2: Retrieve the feature group for 'drivers' (you can specify version if needed)
drivers_fg = fs.get_feature_group(name="drivers", version=1)

# Step 3: Read the data from the feature group
drivers_df = drivers_fg.read()

# Get today's date in UTC
today_date = pd.to_datetime(datetime.now().strftime('%Y-%m-%d')).tz_localize('UTC')

# Step 4: Filter the rows based on 'event_date'
drivers_df = drivers_df[drivers_df['event_date'] == today_date]

# Step 5: Print the shape of the filtered data
print(drivers_df.shape)  # Should match the 1209 rows you inserted

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1104021
Connected. Call `.close()` to terminate connection gracefully.
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.68s)
(1209, 11)

In [42]:
# Check for duplicates in the original DataFrame
duplicates = drivers_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Remove duplicates
drivers_df = drivers_df.drop_duplicates()

Number of duplicate rows: 0

In [43]:
drivers_df.shape

(1209, 11)

In [45]:
drivers_df = fs.get_feature_group("drivers", version=1).read()
 #Step 4: Filter the rows based on 'event_date'
drivers_df = drivers_df[drivers_df['event_date'] == today_date]
drivers_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.71s)

(1209, 11)

In [46]:
# Check for duplicates
duplicates = drivers_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [47]:

# Remove duplicates if any
drivers_df = drivers_df.drop_duplicates()

In [48]:
drivers_df.isnull().sum()

index                0
driver_id            0
name                 0
gender               0
age                  0
experience           0
driving_style        0
ratings              0
vehicle_no           0
average_speed_mph    0
event_date           0
dtype: int64

In [49]:
drivers_df.shape

(1209, 11)

In [51]:
routes_df = fs.get_feature_group("routes", version=1).read()
 #Step 4: Filter the rows based on 'event_date'
routes_df = routes_df[routes_df['event_date'] == today_date]
routes_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.69s)

(1810, 7)

In [52]:
routes_weather_df = fs.get_feature_group("routes_weather", version=1).read()
 #Step 4: Filter the rows based on 'event_date'
routes_weather_df = routes_weather_df[routes_weather_df['event_date'] == today_date]
routes_weather_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (18.81s)

(396149, 15)

In [60]:
truck_schedule_df = fs.get_feature_group("truck_schedule", version=1).read()
 #Step 4: Filter the rows based on 'event_date'
truck_schedule_df = truck_schedule_df[truck_schedule_df['event_date'] == today_date]
truck_schedule_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (1.02s)

(12308, 7)

In [56]:
trucks_df = fs.get_feature_group("trucks", version=1).read()
 #Step 4: Filter the rows based on 'event_date'
trucks_df = trucks_df[trucks_df['event_date'] == today_date]
trucks_df.shape
#trucks_df.head()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.76s)

(1239, 7)

In [57]:
traffic_df = fs.get_feature_group("traffic", version=1).read()
 #Step 4: Filter the rows based on 'event_date'
traffic_df = traffic_df[traffic_df['event_date'] == today_date]
traffic_df.shape

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (47.28s)

(2458582, 8)

In [61]:
routes_weather_df.head()

,index,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,event_date
361335,35208,R-90d781e2,2019-02-10 06:00:00,43,1,Clear,0.0,85,6,1014,0,0,0,0,2024-10-16 00:00:00+00:00
361336,308947,R-40f96504,2019-01-28 12:00:00,75,16,Light rain shower,0.0,89,6,1008,0,0,0,0,2024-10-16 00:00:00+00:00
361337,93556,R-2f7cdfa5,2019-01-04 06:00:00,64,19,Cloudy,0.0,78,6,1007,0,0,0,0,2024-10-16 00:00:00+00:00
361338,10289,R-0810e90f,2019-01-03 06:00:00,75,9,Clear,0.0,81,6,1014,0,0,0,0,2024-10-16 00:00:00+00:00
361339,1489,R-1bcec3a6,2019-01-17 00:00:00,27,11,Moderate snow,0.0,91,3,1020,0,0,0,0,2024-10-16 00:00:00+00:00

In [62]:
routes_weather_df.isnull().sum()

index              0
route_id           0
date               0
temp               0
wind_speed         0
description        0
precip             0
humidity           0
visibility         0
pressure           0
chanceofrain       0
chanceoffog        0
chanceofsnow       0
chanceofthunder    0
event_date         0
dtype: int64

In [63]:
city_weather_df.dtypes

city_id                     object
temp                         int64
wind_speed                   int64
description                 object
precip                     float64
humidity                     int64
visibility                   int64
pressure                     int64
index                        int64
date_time           datetime64[ns]
event_date     datetime64[us, UTC]
dtype: object

In [65]:
# import pandas as pd



# # Step 4: Convert hour to a 4-digit string format
# city_weather_df['hour'] = (city_weather_df['hour'] // 10000).astype(str).str.zfill(2) + '00'


# # Step 5: Create date_time by combining date and hour
# city_weather_df['date_time'] = pd.to_datetime(city_weather_df['date'] + ' ' + city_weather_df['hour'], format='%Y-%m-%d %H%M')


# # Convert the 'date_time' and 'event_date' columns to datetime format
# city_weather_df['date_time'] = pd.to_datetime(city_weather_df['date_time'])

In [66]:
city_weather_df.dtypes

city_id                     object
temp                         int64
wind_speed                   int64
description                 object
precip                     float64
humidity                     int64
visibility                   int64
pressure                     int64
index                        int64
date_time           datetime64[ns]
event_date     datetime64[us, UTC]
dtype: object

In [67]:
city_weather_df.shape

(51834, 11)

In [17]:
# Step 2: Drop the 'date' and 'hour' columns
city_weather_df = city_weather_df.drop(columns=['date', 'hour'])

In [18]:
city_weather_df.shape

(51834, 16)

In [19]:
city_weather_df.dtypes

index                            int64
id                               int64
city_id                         object
temp                             int64
wind_speed                       int64
description                     object
precip                         float64
humidity                         int64
visibility                       int64
pressure                         int64
chanceofrain                     int64
chanceoffog                      int64
chanceofsnow                     int64
chanceofthunder                  int64
date_time               datetime64[ns]
event_date         datetime64[us, UTC]
dtype: object

In [20]:
city_weather_df

,index,id,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,date_time,event_date
0,41583,41583,C-34ae77b0,84,12,Partly cloudy,0.0,45,6,1016,0,0,0,0,2019-02-01,2019-02-01 00:00:00+00:00
1,7175,7175,C-c92599e2,72,3,Clear,0.0,91,6,1014,0,0,0,0,2019-01-23,2019-01-23 00:00:00+00:00
2,27143,27143,C-6df8beaf,5,15,Overcast,0.0,87,6,1021,0,0,0,0,2019-01-28,2019-01-28 00:00:00+00:00
3,51751,51751,C-328bd8d3,32,2,Light sleet,0.0,97,6,1023,0,0,0,0,2019-02-11,2019-02-11 00:00:00+00:00
4,43208,43208,C-b5282c3b,37,9,Mist,0.0,93,3,1007,0,0,0,0,2019-01-08,2019-01-08 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51829,18688,18688,C-e5bfb4e5,21,9,Heavy snow,0.0,94,1,1004,0,0,0,0,2019-02-12,2019-02-12 00:00:00+00:00
51830,15505,15505,C-6ea51d66,37,7,Overcast,0.0,67,6,1019,0,0,0,0,2019-01-03,2019-01-03 00:00:00+00:00
51831,29557,29557,C-b25a09de,54,2,Light rain,0.0,90,6,1015,0,0,0,0,2019-02-06,2019-02-06 00:00:00+00:00
51832,52772,52772,C-841ebdcb,54,16,Light rain shower,0.0,62,6,1024,0,0,0,0,2019-02-07,2019-02-07 00:00:00+00:00
51833,39325,39325,C-5d86b887,32,20,Patchy moderate snow,0.0,35,6,1015,0,0,0,0,2019-01-30,2019-01-30 00:00:00+00:00

In [21]:
traffic_df.dtypes

index                                      int64
route_id                                  object
date                         datetime64[us, UTC]
hour                                       int64
no_of_vehicles                           float64
accident                                   int64
event_date                   datetime64[us, UTC]
is_no_of_vehicles_missing                  int64
dtype: object

In [22]:
# Ensure 'hour' is converted to int first, then to string with HH:00 format
traffic_df['hour'] = (traffic_df['hour'].astype(int) // 100).astype(str).str.zfill(2) + ':00'

# Combine 'date' and 'hour' into a new datetime column
traffic_df['date_time'] = pd.to_datetime(traffic_df['date'].dt.strftime('%Y-%m-%d') + ' ' + traffic_df['hour'], format='%Y-%m-%d %H:%M')

# Drop the original 'date' and 'hour' columns
traffic_df.drop(['date', 'hour'], axis=1, inplace=True)

# Display the modified DataFrame
print(traffic_df.dtypes)
print(traffic_df.head())

index                                      int64
route_id                                  object
no_of_vehicles                           float64
accident                                   int64
event_date                   datetime64[us, UTC]
is_no_of_vehicles_missing                  int64
date_time                         datetime64[ns]
dtype: object
     index    route_id  no_of_vehicles  accident                event_date  \
0  1893661  R-75aaf5e7           447.0         0 2024-10-10 00:00:00+00:00
1    94947  R-6dd87c7e           489.0         0 2024-10-10 00:00:00+00:00
2   884372  R-18bb1dc1          1848.0         0 2024-10-10 00:00:00+00:00
3  1543898  R-90fe80ff          2446.0         0 2024-10-10 00:00:00+00:00
4  1689142  R-38961b65          1839.0         0 2024-10-10 00:00:00+00:00

   is_no_of_vehicles_missing           date_time
0                          0 2019-01-05 03:00:00
1                          0 2019-01-01 02:00:00
2                          0 2019-01-03 19:00:00
3                          0 2019-01-13 16:00:00
4                          0 2019-02-08 12:00:00

In [23]:
traffic_df.dtypes

index                                      int64
route_id                                  object
no_of_vehicles                           float64
accident                                   int64
event_date                   datetime64[us, UTC]
is_no_of_vehicles_missing                  int64
date_time                         datetime64[ns]
dtype: object

In [24]:
routes_weather_df.dtypes

index                            int64
route_id                        object
date                            object
temp                             int64
wind_speed                       int64
description                     object
precip                         float64
humidity                         int64
visibility                       int64
pressure                         int64
chanceofrain                     int64
chanceoffog                      int64
chanceofsnow                     int64
chanceofthunder                  int64
event_date         datetime64[us, UTC]
dtype: object

In [25]:
# Clean the 'date' column by stripping whitespace and converting to datetime
routes_weather_df['date'] = pd.to_datetime(routes_weather_df['date'].str.strip(), errors='coerce')

# Display the modified DataFrame and its data types
print(routes_weather_df.dtypes)
print(routes_weather_df.head())

index                            int64
route_id                        object
date                    datetime64[ns]
temp                             int64
wind_speed                       int64
description                     object
precip                         float64
humidity                         int64
visibility                       int64
pressure                         int64
chanceofrain                     int64
chanceoffog                      int64
chanceofsnow                     int64
chanceofthunder                  int64
event_date         datetime64[us, UTC]
dtype: object
    index    route_id                date  temp  wind_speed    description  \
0  357636  R-34f59601 2019-01-27 18:00:00    23          11  Moderate snow
1  410095  R-2733be32 2019-01-22 12:00:00    46           4  Partly cloudy
2  333165  R-48cfa4e6 2019-02-01 12:00:00    72          17          Sunny
3   30963  R-87c86df6 2019-01-12 00:00:00    55           9  Partly cloudy
4  187327  R-51707f3b 2019-01-25 00:00:00    72           2  Partly cloudy

   precip  humidity  visibility  pressure  chanceofrain  chanceoffog  \
0     0.0        92           4      1011             0            0
1     0.0        92           6      1011             0            0
2     0.0        83           6      1004             0            0
3     0.0        93           6      1005             0            0
4     0.0        21           6      1009             0            0

   chanceofsnow  chanceofthunder                event_date
0             0                0 2024-10-10 00:00:00+00:00
1             0                0 2024-10-10 00:00:00+00:00
2             0                0 2024-10-10 00:00:00+00:00
3             0                0 2024-10-10 00:00:00+00:00
4             0                0 2024-10-10 00:00:00+00:00

In [26]:
routes_weather_df.dtypes

index                            int64
route_id                        object
date                    datetime64[ns]
temp                             int64
wind_speed                       int64
description                     object
precip                         float64
humidity                         int64
visibility                       int64
pressure                         int64
chanceofrain                     int64
chanceoffog                      int64
chanceofsnow                     int64
chanceofthunder                  int64
event_date         datetime64[us, UTC]
dtype: object

In [27]:
truck_schedule_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24616 entries, 0 to 24615
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   truck_id           24616 non-null  int64
 1   route_id           24616 non-null  object
 2   departure_date     24616 non-null  datetime64[us, UTC]
 3   estimated_arrival  24616 non-null  datetime64[us, UTC]
 4   delay              24616 non-null  int64
 5   event_date         24616 non-null  datetime64[us, UTC]
 6   index              24616 non-null  int64
dtypes: datetime64[us, UTC](3), int64(3), object(1)
memory usage: 1.3+ MB

In [28]:
truck_schedule_df.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,event_date,index
0,28450066,R-99eda67a,2019-01-01 07:00:00+00:00,2019-01-03 09:52:48+00:00,0,2024-10-04 00:00:00+00:00,10749
1,21928760,R-266863d8,2019-01-19 07:00:00+00:00,2019-01-19 08:57:36+00:00,0,2024-10-04 00:00:00+00:00,4049
2,32668232,R-57a9c391,2019-01-04 07:00:00+00:00,2019-01-04 22:54:36+00:00,1,2024-10-04 00:00:00+00:00,1151
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00+00:00,2019-01-16 18:21:36+00:00,0,2024-10-04 00:00:00+00:00,3506
4,27715877,R-9dd9fa45,2019-01-01 07:00:00+00:00,2019-01-06 05:48:36+00:00,0,2024-10-04 00:00:00+00:00,11665

In [29]:
# Step 1: Remove the part after the '+' (including any fractional seconds)
truck_schedule_df['estimated_arrival'] = truck_schedule_df['estimated_arrival'].astype(
    str).str.split('+').str[0].str.split('.').str[0]

# Step 2: Convert to datetime without the fractional seconds
truck_schedule_df['estimated_arrival'] = pd.to_datetime(
    truck_schedule_df['estimated_arrival'], format='%Y-%m-%d %H:%M:%S')

# Step 1: Remove the part after the '+' (including any fractional seconds)
truck_schedule_df['departure_date'] = truck_schedule_df['departure_date'].astype(
    str).str.split('+').str[0].str.split('.').str[0]

# Step 2: Convert to datetime without the fractional seconds
truck_schedule_df['departure_date'] = pd.to_datetime(
    truck_schedule_df['departure_date'], format='%Y-%m-%d %H:%M:%S')

In [30]:
truck_schedule_df.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,event_date,index
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2024-10-04 00:00:00+00:00,10749
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,2024-10-04 00:00:00+00:00,4049
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,2024-10-04 00:00:00+00:00,1151
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,2024-10-04 00:00:00+00:00,3506
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,2024-10-04 00:00:00+00:00,11665

In [31]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
# truck_schedule_df = truck_schedule_df.drop(columns=['eventtime'])
# routes_df = routes_df.drop(columns=['eventtime'])
# routes_weather_df = routes_weather_df.drop(columns=['eventtime'])
# city_weather_df = city_weather_df.drop(columns=['eventtime'])
# drivers_df = drivers_df.drop(columns=['eventtime'])
# traffic_df = traffic_df.drop(columns=['eventtime'])
# trucks_df = trucks_df.drop(columns=['eventtime'])

In [33]:
truck_schedule_df = truck_schedule_df.drop(columns=['event_date','index'])
routes_df = routes_df.drop(columns=['event_date','index'])
routes_weather_df = routes_weather_df.drop(columns=['event_date','index'])
city_weather_df = city_weather_df.drop(columns=['event_date','index'])
drivers_df = drivers_df.drop(columns=['event_date','index'])
traffic_df = traffic_df.drop(columns=['event_date','index'])
trucks_df = trucks_df.drop(columns=['event_date','index'])

In [34]:
city_weather_df.dtypes

id                          int64
city_id                    object
temp                        int64
wind_speed                  int64
description                object
precip                    float64
humidity                    int64
visibility                  int64
pressure                    int64
chanceofrain                int64
chanceoffog                 int64
chanceofsnow                int64
chanceofthunder             int64
date_time          datetime64[ns]
dtype: object

In [35]:
city_weather_df.drop_duplicates(subset=['city_id', 'date_time'], inplace=True)
routes_weather_df.drop_duplicates(subset=['route_id', 'date'], inplace=True)
trucks_df.drop_duplicates(subset=['truck_id'], inplace=True)
drivers_df.drop_duplicates(subset=['driver_id'], inplace=True)
routes_df.drop_duplicates(subset=['route_id', 'destination_id', 'origin_id'], inplace=True)
truck_schedule_df.drop_duplicates(subset=['truck_id', 'route_id', 'departure_date'], inplace=True)

In [36]:
city_weather_df.shape

(2234, 14)

In [37]:
routes_weather_df.shape

(396149, 13)

In [38]:
truck_schedule_df.shape

(12308, 5)

In [39]:
routes_df.shape

(2352, 5)

In [40]:
city_weather_df.shape

(2234, 14)

In [41]:
trucks_df.head()

   truck_id  truck_age  load_capacity_pounds  mileage_mpg fuel_type
0  61984883          8                3000.0           15       gas
1  21201884         12               10000.0           24    diesel
2  26749209         11                3000.0           21       gas
3  25670063         10                6000.0           15       gas
4  33500681          8               15000.0           23    diesel

Merge
 Truck Schedule with Route weather

In [42]:
truck_schedule_copy = truck_schedule_df.copy()

In [43]:
truck_schedule_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12308 entries, 0 to 12307
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   truck_id           12308 non-null  int64
 1   route_id           12308 non-null  object
 2   departure_date     12308 non-null  datetime64[ns]
 3   estimated_arrival  12308 non-null  datetime64[ns]
 4   delay              12308 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 576.9+ KB

In [44]:
truck_schedule_copy.head(2)

   truck_id    route_id      departure_date   estimated_arrival  delay
0  28450066  R-99eda67a 2019-01-01 07:00:00 2019-01-03 09:52:48      0
1  21928760  R-266863d8 2019-01-19 07:00:00 2019-01-19 08:57:36      0

In [45]:
# Truck Schedule, route_weather

# Step 1: Adjust Time Data
truck_schedule_copy['estimated_arrival'] = pd.to_datetime(truck_schedule_copy['estimated_arrival']).dt.ceil('6H')
truck_schedule_copy['departure_date'] = pd.to_datetime(truck_schedule_copy['departure_date']).dt.floor('6H')

In [46]:

truck_schedule_copy['date'] = [
    pd.date_range(start=row['departure_date'], end=row['estimated_arrival'], freq='6H')
    for _, row in truck_schedule_copy.iterrows()
]

In [47]:
truck_schedule_copy.isnull().sum()

truck_id             0
route_id             0
departure_date       0
estimated_arrival    0
delay                0
date                 0
dtype: int64

In [48]:
truck_schedule_copy.shape

(12308, 6)

In [49]:
# Step 3: Explode the 'date' column to create separate rows for each date in the range
truck_schedule_copy = truck_schedule_copy.explode('date')

In [50]:
truck_schedule_copy = truck_schedule_copy.drop_duplicates()

In [51]:
truck_schedule_copy.shape

(71376, 6)

In [52]:
routes_weather_df.head(2)

,route_id,date,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
0,R-34f59601,2019-01-27 18:00:00,23,11,Moderate snow,0.0,92,4,1011,0,0,0,0
1,R-2733be32,2019-01-22 12:00:00,46,4,Partly cloudy,0.0,92,6,1011,0,0,0,0

In [53]:
routes_weather_df.shape

(396149, 13)

In [54]:
# Step 4: Merge with route_weather data
routes_weather_df['date'] = pd.to_datetime(routes_weather_df['date'])  # Ensure the 'date' column is datetime type
merged_df = pd.merge(truck_schedule_copy, routes_weather_df, on=['route_id', 'date'], how='left')

In [55]:
merged_df.shape

(71376, 17)

In [56]:
merged_df.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,date,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
0,28450066,R-99eda67a,2019-01-01 06:00:00,2019-01-03 12:00:00,0,2019-01-01 06:00:00,45.0,9.0,Clear,0.0,78.0,6.0,1017.0,0.0,0.0,0.0,0.0
1,28450066,R-99eda67a,2019-01-01 06:00:00,2019-01-03 12:00:00,0,2019-01-01 12:00:00,50.0,9.0,Overcast,0.0,75.0,6.0,1026.0,0.0,0.0,0.0,0.0
2,28450066,R-99eda67a,2019-01-01 06:00:00,2019-01-03 12:00:00,0,2019-01-01 18:00:00,52.0,9.0,Overcast,0.0,76.0,6.0,1026.0,0.0,0.0,0.0,0.0
3,28450066,R-99eda67a,2019-01-01 06:00:00,2019-01-03 12:00:00,0,2019-01-02 00:00:00,45.0,9.0,Clear,0.0,78.0,6.0,1017.0,0.0,0.0,0.0,0.0
4,28450066,R-99eda67a,2019-01-01 06:00:00,2019-01-03 12:00:00,0,2019-01-02 06:00:00,46.0,8.0,Clear,0.0,78.0,6.0,1017.0,0.0,0.0,0.0,0.0

In [57]:
merged_df.isnull().sum()

truck_id                0
route_id                0
departure_date          0
estimated_arrival       0
delay                   0
date                    0
temp                 5199
wind_speed           5199
description          5199
precip               5199
humidity             5199
visibility           5199
pressure             5199
chanceofrain         5199
chanceoffog          5199
chanceofsnow         5199
chanceofthunder      5199
dtype: int64

In [58]:
merged_df = merged_df.dropna()

In [59]:
merged_df.shape

(66177, 17)

In [60]:
merged_df.shape

(66177, 17)

In [61]:

# Step 5: Define a custom function to calculate mode
def custom_mode(x):
    modes = x.mode()
    if not modes.empty:
        return modes.iloc[0]
    else:
        return np.nan  # or return a default value or string indicating no mode

In [62]:

# Step 6: Group by and aggregate
grouped = merged_df.groupby(['truck_id', 'route_id'], as_index=False).agg(
    route_avg_temp=('temp', 'mean'),
    route_avg_wind_speed=('wind_speed', 'mean'),
    route_avg_precip=('precip', 'mean'),
    route_avg_humidity=('humidity', 'mean'),
    route_avg_visibility=('visibility', 'mean'),
    route_avg_pressure=('pressure', 'mean'),
    route_description=('description', custom_mode)
)

In [63]:
grouped

,truck_id,route_id,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,route_avg_pressure,route_description
0,10008392,R-06dfe39e,50.750000,6.416667,0.00,79.416667,5.833333,1015.250000,Partly cloudy
1,10008392,R-35dca729,56.600000,9.400000,0.00,72.200000,5.700000,1013.300000,Partly cloudy
2,10008392,R-51d1a32a,46.636364,8.909091,0.00,76.181818,6.000000,1016.818182,Partly cloudy
3,10008392,R-7ab5ae85,58.750000,7.000000,0.00,82.250000,4.000000,1016.000000,Sunny
4,10008392,R-c6f8e036,47.916667,6.166667,0.00,88.500000,5.583333,1011.000000,Clear
...,...,...,...,...,...,...,...,...,...
12192,99981667,R-abbf83d1,59.000000,7.500000,0.00,80.750000,5.500000,1014.500000,Light rain shower
12193,99981667,R-e9bf94ff,58.400000,3.000000,0.00,70.800000,4.400000,1016.400000,Sunny
12194,99981667,R-ed1094fd,64.500000,10.500000,0.00,42.500000,6.000000,1016.750000,Clear
12195,99981667,R-f363ad37,79.000000,11.800000,0.02,84.800000,4.800000,1013.600000,Clear
12196,99981667,R-f9aa6c3b,72.800000,11.000000,0.00,67.800000,6.000000,1012.000000,Sunny

In [64]:
grouped.isnull().sum()

truck_id                0
route_id                0
route_avg_temp          0
route_avg_wind_speed    0
route_avg_precip        0
route_avg_humidity      0
route_avg_visibility    0
route_avg_pressure      0
route_description       0
dtype: int64

In [65]:
# Step 7: Merge back to the schedule dataframe
schedule_weather_merge = pd.merge(truck_schedule_df, grouped, on=['truck_id', 'route_id'], how='left')

In [66]:
schedule_weather_merge.shape

(12308, 12)

In [67]:
schedule_weather_merge = schedule_weather_merge.drop_duplicates()

In [68]:
schedule_weather_merge.shape

(12308, 12)

In [69]:
schedule_weather_merge.isnull().sum()

truck_id                 0
route_id                 0
departure_date           0
estimated_arrival        0
delay                    0
route_avg_temp          43
route_avg_wind_speed    43
route_avg_precip        43
route_avg_humidity      43
route_avg_visibility    43
route_avg_pressure      43
route_description       43
dtype: int64

In [70]:

# Drop rows where any of the specified columns have null values
schedule_weather_merge = schedule_weather_merge.dropna()

In [71]:
schedule_weather_merge.shape

(12265, 12)

In [72]:
schedule_weather_merge

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,route_avg_pressure,route_description
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,49.70,8.800000,0.0,77.300000,6.000000,1021.100000,Overcast
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,70.00,6.000000,0.0,19.000000,6.000000,1012.000000,Clear
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,82.75,8.250000,0.0,67.000000,6.000000,1018.000000,Sunny
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,41.00,2.500000,0.0,95.000000,2.250000,1014.000000,Freezing fog
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,46.20,6.600000,0.0,80.200000,5.800000,1013.300000,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...
12303,14223048,R-b10da1af,2019-01-01 07:00:00,2019-01-01 15:04:12,1,52.00,6.000000,0.0,89.333333,4.333333,1015.000000,Clear
12304,29791384,R-c5868c95,2019-01-13 07:00:00,2019-01-13 19:15:36,0,48.00,12.500000,0.0,73.500000,4.750000,1011.500000,Partly cloudy
12305,10366123,R-c5b19aa5,2019-01-19 07:00:00,2019-01-20 00:10:12,0,53.40,11.600000,0.0,68.400000,5.600000,1016.800000,Sunny
12306,14541120,R-5beef1d0,2019-01-10 07:00:00,2019-01-10 15:45:36,0,51.00,8.666667,0.0,77.666667,5.166667,1014.833333,Overcast
12307,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,86.40,9.600000,0.0,57.600000,6.000000,1014.800000,Patchy rain possible

Merge with route table

In [73]:
nearest_hour_schedule_df=truck_schedule_df.copy()

In [74]:
nearest_hour_schedule_df['estimated_arrival_nearest_hour']=nearest_hour_schedule_df['estimated_arrival'].dt.round("H")
nearest_hour_schedule_df['departure_date_nearest_hour']=nearest_hour_schedule_df['departure_date'].dt.round("H")

nearest_hour_schedule_route_df=pd.merge(nearest_hour_schedule_df, routes_df, on='route_id', how='left')

In [75]:
nearest_hour_schedule_route_df

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,average_hours
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,C-731988ba,C-6df8beaf,2544.15,50.88
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,2019-01-19 09:00:00,2019-01-19 07:00:00,C-e5bfb4e5,C-7212cebe,97.81,1.96
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,2019-01-04 23:00:00,2019-01-04 07:00:00,C-841ebdcb,C-6df8beaf,795.73,15.91
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,2019-01-16 18:00:00,2019-01-16 07:00:00,C-90e30162,C-c4565ee8,567.91,11.36
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,2019-01-06 06:00:00,2019-01-01 07:00:00,C-7212cebe,C-4fe0fa24,5940.44,118.81
...,...,...,...,...,...,...,...,...,...,...,...
12303,14223048,R-b10da1af,2019-01-01 07:00:00,2019-01-01 15:04:12,1,2019-01-01 15:00:00,2019-01-01 07:00:00,C-6df8beaf,C-280b55fb,403.41,8.07
12304,29791384,R-c5868c95,2019-01-13 07:00:00,2019-01-13 19:15:36,0,2019-01-13 19:00:00,2019-01-13 07:00:00,C-b6e04c88,C-b25a09de,612.99,12.26
12305,10366123,R-c5b19aa5,2019-01-19 07:00:00,2019-01-20 00:10:12,0,2019-01-20 00:00:00,2019-01-19 07:00:00,C-ff8c0c3c,C-9bbf5d8a,858.38,17.17
12306,14541120,R-5beef1d0,2019-01-10 07:00:00,2019-01-10 15:45:36,0,2019-01-10 16:00:00,2019-01-10 07:00:00,C-40a81eb1,C-b25a09de,438.02,8.76
12307,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,C-40a81eb1,C-825b2625,1006.61,20.13

In [76]:
nearest_hour_schedule_route_df.shape

(12308, 11)

In [77]:
nearest_hour_schedule_route_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   truck_id                        12308 non-null  int64
 1   route_id                        12308 non-null  object
 2   departure_date                  12308 non-null  datetime64[ns]
 3   estimated_arrival               12308 non-null  datetime64[ns]
 4   delay                           12308 non-null  int64
 5   estimated_arrival_nearest_hour  12308 non-null  datetime64[ns]
 6   departure_date_nearest_hour     12308 non-null  datetime64[ns]
 7   origin_id                       12308 non-null  object
 8   destination_id                  12308 non-null  object
 9   distance                        12308 non-null  float64
 10  average_hours                   12308 non-null  float64
dtypes: datetime64[ns](4), float64(2), int64(2), object(3)
memory usage: 1.0+ MB

In [78]:
nearest_hour_schedule_route_df.shape

(12308, 11)

In [79]:
nearest_hour_schedule_route_df.isnull().sum()

truck_id                          0
route_id                          0
departure_date                    0
estimated_arrival                 0
delay                             0
estimated_arrival_nearest_hour    0
departure_date_nearest_hour       0
origin_id                         0
destination_id                    0
distance                          0
average_hours                     0
dtype: int64

In [80]:

nearest_hour_schedule_route_df = nearest_hour_schedule_route_df.dropna()

In [81]:
nearest_hour_schedule_route_df.isnull().sum()

truck_id                          0
route_id                          0
departure_date                    0
estimated_arrival                 0
delay                             0
estimated_arrival_nearest_hour    0
departure_date_nearest_hour       0
origin_id                         0
destination_id                    0
distance                          0
average_hours                     0
dtype: int64

In [82]:
nearest_hour_schedule_route_df.shape

(12308, 11)

Merge with city weather

In [83]:

# Step 1: Create copies of the 'weather_df' for origin and destination weather manipulation
origin_weather_data = city_weather_df.copy()
destination_weather_data = city_weather_df.copy()

In [84]:
destination_weather_data.head()

,id,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,date_time
0,41583,C-34ae77b0,84,12,Partly cloudy,0.0,45,6,1016,0,0,0,0,2019-02-01
1,7175,C-c92599e2,72,3,Clear,0.0,91,6,1014,0,0,0,0,2019-01-23
2,27143,C-6df8beaf,5,15,Overcast,0.0,87,6,1021,0,0,0,0,2019-01-28
3,51751,C-328bd8d3,32,2,Light sleet,0.0,97,6,1023,0,0,0,0,2019-02-11
4,43208,C-b5282c3b,37,9,Mist,0.0,93,3,1007,0,0,0,0,2019-01-08

In [85]:
origin_weather_data.head()

,id,city_id,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,date_time
0,41583,C-34ae77b0,84,12,Partly cloudy,0.0,45,6,1016,0,0,0,0,2019-02-01
1,7175,C-c92599e2,72,3,Clear,0.0,91,6,1014,0,0,0,0,2019-01-23
2,27143,C-6df8beaf,5,15,Overcast,0.0,87,6,1021,0,0,0,0,2019-01-28
3,51751,C-328bd8d3,32,2,Light sleet,0.0,97,6,1023,0,0,0,0,2019-02-11
4,43208,C-b5282c3b,37,9,Mist,0.0,93,3,1007,0,0,0,0,2019-01-08

In [86]:
nearest_hour_schedule_route_df

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,origin_id,destination_id,distance,average_hours
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,C-731988ba,C-6df8beaf,2544.15,50.88
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,2019-01-19 09:00:00,2019-01-19 07:00:00,C-e5bfb4e5,C-7212cebe,97.81,1.96
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,2019-01-04 23:00:00,2019-01-04 07:00:00,C-841ebdcb,C-6df8beaf,795.73,15.91
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,2019-01-16 18:00:00,2019-01-16 07:00:00,C-90e30162,C-c4565ee8,567.91,11.36
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,2019-01-06 06:00:00,2019-01-01 07:00:00,C-7212cebe,C-4fe0fa24,5940.44,118.81
...,...,...,...,...,...,...,...,...,...,...,...
12303,14223048,R-b10da1af,2019-01-01 07:00:00,2019-01-01 15:04:12,1,2019-01-01 15:00:00,2019-01-01 07:00:00,C-6df8beaf,C-280b55fb,403.41,8.07
12304,29791384,R-c5868c95,2019-01-13 07:00:00,2019-01-13 19:15:36,0,2019-01-13 19:00:00,2019-01-13 07:00:00,C-b6e04c88,C-b25a09de,612.99,12.26
12305,10366123,R-c5b19aa5,2019-01-19 07:00:00,2019-01-20 00:10:12,0,2019-01-20 00:00:00,2019-01-19 07:00:00,C-ff8c0c3c,C-9bbf5d8a,858.38,17.17
12306,14541120,R-5beef1d0,2019-01-10 07:00:00,2019-01-10 15:45:36,0,2019-01-10 16:00:00,2019-01-10 07:00:00,C-40a81eb1,C-b25a09de,438.02,8.76
12307,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,C-40a81eb1,C-825b2625,1006.61,20.13

In [87]:
# Step 3: Merge 'nearest_hour_schedule_route_df' with 'origin_weather_data'
# Assuming there's a common column 'origin_id' in 'nearest_hour_schedule_route_df' that matches 'route_id' in 'origin_weather_data'
origin_weather_merge = pd.merge(nearest_hour_schedule_route_df, origin_weather_data, left_on=['origin_id','departure_date_nearest_hour'], right_on=['city_id','date_time'], how='left')

In [88]:
origin_weather_merge.shape

(12308, 25)

In [89]:
origin_weather_merge.isnull().sum()

truck_id                              0
route_id                              0
departure_date                        0
estimated_arrival                     0
delay                                 0
estimated_arrival_nearest_hour        0
departure_date_nearest_hour           0
origin_id                             0
destination_id                        0
distance                              0
average_hours                         0
id                                12308
city_id                           12308
temp                              12308
wind_speed                        12308
description                       12308
precip                            12308
humidity                          12308
visibility                        12308
pressure                          12308
chanceofrain                      12308
chanceoffog                       12308
chanceofsnow                      12308
chanceofthunder                   12308
date_time                         12308
dtype: int64

In [90]:
origin_weather_merge = origin_weather_merge.drop_duplicates()

In [91]:
origin_weather_merge.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'estimated_arrival_nearest_hour', 'departure_date_nearest_hour',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'id',
       'city_id', 'temp', 'wind_speed', 'description', 'precip', 'humidity',
       'visibility', 'pressure', 'chanceofrain', 'chanceoffog', 'chanceofsnow',
       'chanceofthunder', 'date_time'],
      dtype='object')

In [92]:
origin_weather_merge = origin_weather_merge.dropna()

In [93]:
# Step 4: Merge 'origin_weather_merge' with 'destination_weather_data'
# Assuming there's a common column 'destination_id' in 'origin_weather_merge' that matches 'route_id' in 'destination_weather_data'
destination_weather_merge = pd.merge(origin_weather_merge, destination_weather_data, left_on=['destination_id','estimated_arrival_nearest_hour'], right_on=['city_id','date_time'], how='left', suffixes=('_origin', '_destination'))

In [94]:
destination_weather_merge

Empty DataFrame
Columns: [truck_id, route_id, departure_date, estimated_arrival, delay, estimated_arrival_nearest_hour, departure_date_nearest_hour, origin_id, destination_id, distance, average_hours, id_origin, city_id_origin, temp_origin, wind_speed_origin, description_origin, precip_origin, humidity_origin, visibility_origin, pressure_origin, chanceofrain_origin, chanceoffog_origin, chanceofsnow_origin, chanceofthunder_origin, date_time_origin, id_destination, city_id_destination, temp_destination, wind_speed_destination, description_destination, precip_destination, humidity_destination, visibility_destination, pressure_destination, chanceofrain_destination, chanceoffog_destination, chanceofsnow_destination, chanceofthunder_destination, date_time_destination]
Index: []

[0 rows x 39 columns]

In [95]:
destination_weather_merge.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'estimated_arrival_nearest_hour', 'departure_date_nearest_hour',
       'origin_id', 'destination_id', 'distance', 'average_hours', 'id_origin',
       'city_id_origin', 'temp_origin', 'wind_speed_origin',
       'description_origin', 'precip_origin', 'humidity_origin',
       'visibility_origin', 'pressure_origin', 'chanceofrain_origin',
       'chanceoffog_origin', 'chanceofsnow_origin', 'chanceofthunder_origin',
       'date_time_origin', 'id_destination', 'city_id_destination',
       'temp_destination', 'wind_speed_destination', 'description_destination',
       'precip_destination', 'humidity_destination', 'visibility_destination',
       'pressure_destination', 'chanceofrain_destination',
       'chanceoffog_destination', 'chanceofsnow_destination',
       'chanceofthunder_destination', 'date_time_destination'],
      dtype='object')

In [96]:
destination_weather_merge = destination_weather_merge.drop_duplicates()

In [97]:
destination_weather_merge

Empty DataFrame
Columns: [truck_id, route_id, departure_date, estimated_arrival, delay, estimated_arrival_nearest_hour, departure_date_nearest_hour, origin_id, destination_id, distance, average_hours, id_origin, city_id_origin, temp_origin, wind_speed_origin, description_origin, precip_origin, humidity_origin, visibility_origin, pressure_origin, chanceofrain_origin, chanceoffog_origin, chanceofsnow_origin, chanceofthunder_origin, date_time_origin, id_destination, city_id_destination, temp_destination, wind_speed_destination, description_destination, precip_destination, humidity_destination, visibility_destination, pressure_destination, chanceofrain_destination, chanceoffog_destination, chanceofsnow_destination, chanceofthunder_destination, date_time_destination]
Index: []

[0 rows x 39 columns]

In [98]:
destination_weather_merge.isnull().sum()

truck_id                          0
route_id                          0
departure_date                    0
estimated_arrival                 0
delay                             0
estimated_arrival_nearest_hour    0
departure_date_nearest_hour       0
origin_id                         0
destination_id                    0
distance                          0
average_hours                     0
id_origin                         0
city_id_origin                    0
temp_origin                       0
wind_speed_origin                 0
description_origin                0
precip_origin                     0
humidity_origin                   0
visibility_origin                 0
pressure_origin                   0
chanceofrain_origin               0
chanceoffog_origin                0
chanceofsnow_origin               0
chanceofthunder_origin            0
date_time_origin                  0
id_destination                    0
city_id_destination               0
temp_destination                  0
wind_speed_destination            0
description_destination           0
precip_destination                0
humidity_destination              0
visibility_destination            0
pressure_destination              0
chanceofrain_destination          0
chanceoffog_destination           0
chanceofsnow_destination          0
chanceofthunder_destination       0
date_time_destination             0
dtype: int64

In [99]:
destination_weather_merge = destination_weather_merge.dropna()

In [100]:
destination_weather_merge.shape

(0, 39)

In [101]:
schedule_copy = truck_schedule_df.copy()

In [102]:
schedule_copy['departure_date'] = pd.to_datetime(
    schedule_copy['departure_date'])
schedule_copy['estimated_arrival'] = pd.to_datetime(
    schedule_copy['estimated_arrival'])

# Round to nearest hour
schedule_copy['departure_date'] = schedule_copy['departure_date'].dt.round('H')
schedule_copy['estimated_arrival'] = schedule_copy['estimated_arrival'].dt.round(
    'H')

# Display the update

In [103]:
hourly_exploded_scheduled_df = (nearest_hour_schedule_df.assign(custom_date=[pd.date_range(start, end, freq='H')  # Create custom date ranges
                                                                             for start, end
                                                                             # Using departure and estimated arrival times
                                                                             in zip(nearest_hour_schedule_df['departure_date'], nearest_hour_schedule_df['estimated_arrival'])])
                                # Explode the DataFrame based on the custom date range
                                .explode('custom_date', ignore_index=True))

In [104]:
hourly_exploded_scheduled_df.sort_values(by=['route_id','departure_date'])

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,custom_date
301510,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 07:00:00
301511,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00
301512,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 09:00:00
301513,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 10:00:00
301514,30822651,R-003c7a81,2019-01-01 07:00:00,2019-01-01 11:45:36,0,2019-01-01 12:00:00,2019-01-01 07:00:00,2019-01-01 11:00:00
...,...,...,...,...,...,...,...,...
113539,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 18:00:00
113540,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 19:00:00
113541,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 20:00:00
113542,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 21:00:00
113543,30978201,R-ffe99a03,2019-01-15 07:00:00,2019-01-20 22:15:36,0,2019-01-20 22:00:00,2019-01-15 07:00:00,2019-01-20 22:00:00

In [105]:
traffic_df['date_time'] = pd.to_datetime(traffic_df['date_time'])

In [106]:
traffic_df.head(2)

,route_id,no_of_vehicles,accident,is_no_of_vehicles_missing,date_time
0,R-75aaf5e7,447.0,0,0,2019-01-05 03:00:00
1,R-6dd87c7e,489.0,0,0,2019-01-01 02:00:00

In [107]:
scheduled_traffic=hourly_exploded_scheduled_df.merge(traffic_df,left_on=['route_id','custom_date'],right_on=['route_id','date_time'],how='left')

In [108]:
scheduled_traffic = scheduled_traffic.drop_duplicates()

In [109]:
scheduled_traffic

,truck_id,route_id,departure_date,estimated_arrival,delay,estimated_arrival_nearest_hour,departure_date_nearest_hour,custom_date,no_of_vehicles,accident,is_no_of_vehicles_missing,date_time
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,2019-01-01 07:00:00,NaN,NaN,NaN,NaT
1,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,2019-01-01 08:00:00,2079.0,0.0,0.0,2019-01-01 08:00:00
4,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,2019-01-01 09:00:00,2547.0,0.0,0.0,2019-01-01 09:00:00
7,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,2019-01-01 10:00:00,NaN,NaN,NaN,NaT
8,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,2019-01-03 10:00:00,2019-01-01 07:00:00,2019-01-01 11:00:00,2392.0,0.0,0.0,2019-01-01 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
902286,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,2019-02-03 23:00:00,2346.0,0.0,0.0,2019-02-03 23:00:00
902289,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,2019-02-04 00:00:00,655.0,0.0,0.0,2019-02-04 00:00:00
902292,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,2019-02-04 01:00:00,697.0,0.0,0.0,2019-02-04 01:00:00
902295,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,2019-02-04 02:00:00,475.0,0.0,0.0,2019-02-04 02:00:00
902298,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,2019-02-04 03:00:00,2019-02-03 07:00:00,2019-02-04 03:00:00,594.0,0.0,0.0,2019-02-04 03:00:00

In [110]:
def custom_agg(values):
  if any(values == 1):
    return 1
  else:
    return 0

In [111]:
scheduled_route_traffic = scheduled_traffic.groupby(['truck_id', 'route_id'], as_index=False).agg(
                           avg_no_of_vehicles=('no_of_vehicles', 'mean'),
                           accident=('accident', custom_agg)
                       )

In [112]:
scheduled_route_traffic

       truck_id    route_id  avg_no_of_vehicles  accident
0      10008392  R-06dfe39e         1883.086207         0
1      10008392  R-35dca729         1833.734694         0
2      10008392  R-51d1a32a         1522.763636         0
3      10008392  R-7ab5ae85         1976.000000         0
4      10008392  R-c6f8e036          812.438596         0
...         ...         ...                 ...       ...
12235  99981667  R-abbf83d1         1792.812500         0
12236  99981667  R-e9bf94ff         2074.166667         0
12237  99981667  R-ed1094fd         1915.666667         0
12238  99981667  R-f363ad37         1831.750000         0
12239  99981667  R-f9aa6c3b         1772.500000         0

[12240 rows x 4 columns]

In [113]:
origin_destination_weather_traffic_merge=destination_weather_merge.merge(scheduled_route_traffic,on=['truck_id','route_id'],how='left')

In [114]:
origin_destination_weather_traffic_merge = origin_destination_weather_traffic_merge.drop_duplicates()
origin_destination_weather_traffic_merge

Empty DataFrame
Columns: [departure_date, estimated_arrival, delay, estimated_arrival_nearest_hour, departure_date_nearest_hour, origin_id, destination_id, distance, average_hours, id_origin, city_id_origin, temp_origin, wind_speed_origin, description_origin, precip_origin, humidity_origin, visibility_origin, pressure_origin, chanceofrain_origin, chanceoffog_origin, chanceofsnow_origin, chanceofthunder_origin, date_time_origin, id_destination, city_id_destination, temp_destination, wind_speed_destination, description_destination, precip_destination, humidity_destination, visibility_destination, pressure_destination, chanceofrain_destination, chanceoffog_destination, chanceofsnow_destination, chanceofthunder_destination, date_time_destination, truck_id, route_id, avg_no_of_vehicles, accident]
Index: []

[0 rows x 41 columns]

In [115]:
origin_destination_weather_traffic_merge.isnull().sum()

departure_date                    0
estimated_arrival                 0
delay                             0
estimated_arrival_nearest_hour    0
departure_date_nearest_hour       0
origin_id                         0
destination_id                    0
distance                          0
average_hours                     0
id_origin                         0
city_id_origin                    0
temp_origin                       0
wind_speed_origin                 0
description_origin                0
precip_origin                     0
humidity_origin                   0
visibility_origin                 0
pressure_origin                   0
chanceofrain_origin               0
chanceoffog_origin                0
chanceofsnow_origin               0
chanceofthunder_origin            0
date_time_origin                  0
id_destination                    0
city_id_destination               0
temp_destination                  0
wind_speed_destination            0
description_destination           0
precip_destination                0
humidity_destination              0
visibility_destination            0
pressure_destination              0
chanceofrain_destination          0
chanceoffog_destination           0
chanceofsnow_destination          0
chanceofthunder_destination       0
date_time_destination             0
truck_id                          0
route_id                          0
avg_no_of_vehicles                0
accident                          0
dtype: int64

In [116]:
merged_data_weather_traffic=pd.merge(schedule_weather_merge, origin_destination_weather_traffic_merge, on=['truck_id', 'route_id', 'departure_date','estimated_arrival', 'delay'], how='left')

In [117]:
merged_data_weather_traffic = merged_data_weather_traffic.drop_duplicates()

In [118]:
merged_data_weather_traffic

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,humidity_destination,visibility_destination,pressure_destination,chanceofrain_destination,chanceoffog_destination,chanceofsnow_destination,chanceofthunder_destination,date_time_destination,avg_no_of_vehicles,accident
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,49.70,8.800000,0.0,77.300000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,70.00,6.000000,0.0,19.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,82.75,8.250000,0.0,67.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,41.00,2.500000,0.0,95.000000,2.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,46.20,6.600000,0.0,80.200000,5.800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12260,14223048,R-b10da1af,2019-01-01 07:00:00,2019-01-01 15:04:12,1,52.00,6.000000,0.0,89.333333,4.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
12261,29791384,R-c5868c95,2019-01-13 07:00:00,2019-01-13 19:15:36,0,48.00,12.500000,0.0,73.500000,4.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
12262,10366123,R-c5b19aa5,2019-01-19 07:00:00,2019-01-20 00:10:12,0,53.40,11.600000,0.0,68.400000,5.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
12263,14541120,R-5beef1d0,2019-01-10 07:00:00,2019-01-10 15:45:36,0,51.00,8.666667,0.0,77.666667,5.166667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
12264,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,86.40,9.600000,0.0,57.600000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [119]:
merged_data_weather_traffic_trucks = pd.merge(merged_data_weather_traffic, trucks_df, on='truck_id', how='left')

In [120]:
final_merge_dataset = pd.merge(merged_data_weather_traffic_trucks, drivers_df, left_on='truck_id', right_on = 'vehicle_no', how='left')

In [121]:
def has_midnight(start, end):
   return int(start.date() != end.date())

In [122]:
final_merge_dataset['is_midnight'] = final_merge_dataset.apply(lambda row: has_midnight(row['departure_date'], row['estimated_arrival']), axis=1)

In [123]:
final_merge_dataset.shape

(12265, 62)

In [124]:
final_merge_dataset.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'route_avg_temp', 'route_avg_wind_speed', 'route_avg_precip',
       'route_avg_humidity', 'route_avg_visibility', 'route_avg_pressure',
       'route_description', 'estimated_arrival_nearest_hour',
       'departure_date_nearest_hour', 'origin_id', 'destination_id',
       'distance', 'average_hours', 'id_origin', 'city_id_origin',
       'temp_origin', 'wind_speed_origin', 'description_origin',
       'precip_origin', 'humidity_origin', 'visibility_origin',
       'pressure_origin', 'chanceofrain_origin', 'chanceoffog_origin',
       'chanceofsnow_origin', 'chanceofthunder_origin', 'date_time_origin',
       'id_destination', 'city_id_destination', 'temp_destination',
       'wind_speed_destination', 'description_destination',
       'precip_destination', 'humidity_destination', 'visibility_destination',
       'pressure_destination', 'chanceofrain_destination',
       'chanceoffog_destination', 'chanceofsnow_destination',
       'chanceofthunder_destination', 'date_time_destination',
       'avg_no_of_vehicles', 'accident', 'truck_age', 'load_capacity_pounds',
       'mileage_mpg', 'fuel_type', 'driver_id', 'name', 'gender', 'age',
       'experience', 'driving_style', 'ratings', 'vehicle_no',
       'average_speed_mph', 'is_midnight'],
      dtype='object')

In [125]:
final_merge_dataset = final_merge_dataset.drop(columns=['city_id_origin','city_id_destination','date_time_origin'])

In [126]:
final_merge_dataset = final_merge_dataset.drop_duplicates()
final_merge_dataset

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,49.70,8.800000,0.0,77.300000,6.000000,...,734ffab2-0,Carlos Porter,male,47.0,3.0,conservative,2.0,28450066.0,45.65,1
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,70.00,6.000000,0.0,19.000000,6.000000,...,87a34a65-1,Ronald Campbell,male,50.0,-7.0,conservative,4.0,21928760.0,35.20,0
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,82.75,8.250000,0.0,67.000000,6.000000,...,93c4a4c3-7,James Horn,male,46.0,7.0,conservative,2.0,32668232.0,49.34,0
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,41.00,2.500000,0.0,95.000000,2.250000,...,0a35a473-0,Kevin Moore,male,47.0,13.0,conservative,6.0,32984940.0,51.70,0
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,46.20,6.600000,0.0,80.200000,5.800000,...,5b7433a4-b,Sherry Parker,female,40.0,3.0,conservative,3.0,27715877.0,46.56,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12260,14223048,R-b10da1af,2019-01-01 07:00:00,2019-01-01 15:04:12,1,52.00,6.000000,0.0,89.333333,4.333333,...,3bbf043d-e,Joshua Reed,male,36.0,4.0,proactive,8.0,14223048.0,59.21,0
12261,29791384,R-c5868c95,2019-01-13 07:00:00,2019-01-13 19:15:36,0,48.00,12.500000,0.0,73.500000,4.750000,...,709b8ecd-0,Stanley Bowen,male,37.0,4.0,conservative,3.0,29791384.0,43.66,0
12262,10366123,R-c5b19aa5,2019-01-19 07:00:00,2019-01-20 00:10:12,0,53.40,11.600000,0.0,68.400000,5.600000,...,b2fa68dd-5,Jacob Carney,male,50.0,6.0,proactive,8.0,10366123.0,66.02,1
12263,14541120,R-5beef1d0,2019-01-10 07:00:00,2019-01-10 15:45:36,0,51.00,8.666667,0.0,77.666667,5.166667,...,09a3aa73-5,Gary Smith,male,49.0,14.0,proactive,4.0,14541120.0,63.42,0
12264,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,86.40,9.600000,0.0,57.600000,6.000000,...,c2788218-0,Zachary Lee,male,45.0,11.0,conservative,8.0,23496275.0,42.49,1

In [127]:
final_merge_dataset.shape

(12265, 59)

In [128]:
final_merge_dataset.isnull().sum()

truck_id                              0
route_id                              0
departure_date                        0
estimated_arrival                     0
delay                                 0
route_avg_temp                        0
route_avg_wind_speed                  0
route_avg_precip                      0
route_avg_humidity                    0
route_avg_visibility                  0
route_avg_pressure                    0
route_description                     0
estimated_arrival_nearest_hour    12265
departure_date_nearest_hour       12265
origin_id                         12265
destination_id                    12265
distance                          12265
average_hours                     12265
id_origin                         12265
temp_origin                       12265
wind_speed_origin                 12265
description_origin                12265
precip_origin                     12265
humidity_origin                   12265
visibility_origin                 12265
pressure_origin                   12265
chanceofrain_origin               12265
chanceoffog_origin                12265
chanceofsnow_origin               12265
chanceofthunder_origin            12265
id_destination                    12265
temp_destination                  12265
wind_speed_destination            12265
description_destination           12265
precip_destination                12265
humidity_destination              12265
visibility_destination            12265
pressure_destination              12265
chanceofrain_destination          12265
chanceoffog_destination           12265
chanceofsnow_destination          12265
chanceofthunder_destination       12265
date_time_destination             12265
avg_no_of_vehicles                12265
accident                          12265
truck_age                             0
load_capacity_pounds                  0
mileage_mpg                           0
fuel_type                             0
driver_id                           155
name                                155
gender                              155
age                                 155
experience                          155
driving_style                       155
ratings                             155
vehicle_no                          155
average_speed_mph                   155
is_midnight                           0
dtype: int64

In [129]:
final_merge_dataset.dropna()

Empty DataFrame
Columns: [truck_id, route_id, departure_date, estimated_arrival, delay, route_avg_temp, route_avg_wind_speed, route_avg_precip, route_avg_humidity, route_avg_visibility, route_avg_pressure, route_description, estimated_arrival_nearest_hour, departure_date_nearest_hour, origin_id, destination_id, distance, average_hours, id_origin, temp_origin, wind_speed_origin, description_origin, precip_origin, humidity_origin, visibility_origin, pressure_origin, chanceofrain_origin, chanceoffog_origin, chanceofsnow_origin, chanceofthunder_origin, id_destination, temp_destination, wind_speed_destination, description_destination, precip_destination, humidity_destination, visibility_destination, pressure_destination, chanceofrain_destination, chanceoffog_destination, chanceofsnow_destination, chanceofthunder_destination, date_time_destination, avg_no_of_vehicles, accident, truck_age, load_capacity_pounds, mileage_mpg, fuel_type, driver_id, name, gender, age, experience, driving_style, ratings, vehicle_no, average_speed_mph, is_midnight]
Index: []

[0 rows x 59 columns]

In [130]:
# final_merge_dataset.shape

In [131]:
final_merge_dataset.shape

(12265, 59)

In [132]:
final_merge_dataset.head()

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,49.70,8.80,0.0,77.3,6.00,...,734ffab2-0,Carlos Porter,male,47.0,3.0,conservative,2.0,28450066.0,45.65,1
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,70.00,6.00,0.0,19.0,6.00,...,87a34a65-1,Ronald Campbell,male,50.0,-7.0,conservative,4.0,21928760.0,35.20,0
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,82.75,8.25,0.0,67.0,6.00,...,93c4a4c3-7,James Horn,male,46.0,7.0,conservative,2.0,32668232.0,49.34,0
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,41.00,2.50,0.0,95.0,2.25,...,0a35a473-0,Kevin Moore,male,47.0,13.0,conservative,6.0,32984940.0,51.70,0
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,46.20,6.60,0.0,80.2,5.80,...,5b7433a4-b,Sherry Parker,female,40.0,3.0,conservative,3.0,27715877.0,46.56,1

In [133]:
final_merge_dataset.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'route_avg_temp', 'route_avg_wind_speed', 'route_avg_precip',
       'route_avg_humidity', 'route_avg_visibility', 'route_avg_pressure',
       'route_description', 'estimated_arrival_nearest_hour',
       'departure_date_nearest_hour', 'origin_id', 'destination_id',
       'distance', 'average_hours', 'id_origin', 'temp_origin',
       'wind_speed_origin', 'description_origin', 'precip_origin',
       'humidity_origin', 'visibility_origin', 'pressure_origin',
       'chanceofrain_origin', 'chanceoffog_origin', 'chanceofsnow_origin',
       'chanceofthunder_origin', 'id_destination', 'temp_destination',
       'wind_speed_destination', 'description_destination',
       'precip_destination', 'humidity_destination', 'visibility_destination',
       'pressure_destination', 'chanceofrain_destination',
       'chanceoffog_destination', 'chanceofsnow_destination',
       'chanceofthunder_destination', 'date_time_destination',
       'avg_no_of_vehicles', 'accident', 'truck_age', 'load_capacity_pounds',
       'mileage_mpg', 'fuel_type', 'driver_id', 'name', 'gender', 'age',
       'experience', 'driving_style', 'ratings', 'vehicle_no',
       'average_speed_mph', 'is_midnight'],
      dtype='object')

In [134]:
columns_to_drop = [
    'chanceofrain_origin', 'chanceoffog_origin', 'chanceofsnow_origin', 'chanceofthunder_origin',
    'chanceofrain_destination', 'chanceoffog_destination', 'chanceofsnow_destination', 'chanceofthunder_destination'
]

# Drop the columns
final_merge_dataset = final_merge_dataset.drop(columns=columns_to_drop)

# Display the modified DataFrame
print(final_merge_dataset.columns)

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'route_avg_temp', 'route_avg_wind_speed', 'route_avg_precip',
       'route_avg_humidity', 'route_avg_visibility', 'route_avg_pressure',
       'route_description', 'estimated_arrival_nearest_hour',
       'departure_date_nearest_hour', 'origin_id', 'destination_id',
       'distance', 'average_hours', 'id_origin', 'temp_origin',
       'wind_speed_origin', 'description_origin', 'precip_origin',
       'humidity_origin', 'visibility_origin', 'pressure_origin',
       'id_destination', 'temp_destination', 'wind_speed_destination',
       'description_destination', 'precip_destination', 'humidity_destination',
       'visibility_destination', 'pressure_destination',
       'date_time_destination', 'avg_no_of_vehicles', 'accident', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type', 'driver_id', 'name',
       'gender', 'age', 'experience', 'driving_style', 'ratings', 'vehicle_no',
       'average_speed_mph', 'is_midnight'],
      dtype='object')

In [135]:
final_merge_dataset.shape

(12265, 51)

In [136]:
# Drop extra columns
columns_to_drop = ['id_origin', 'id_destination', 'date_time_destination']
final_merge_dataset = final_merge_dataset.drop(columns=columns_to_drop)

# Rename columns to match the final feature names
final_merge_dataset = final_merge_dataset.rename(columns={
    'temp_origin': 'origin_temp',
    'wind_speed_origin': 'origin_wind_speed',
    'description_origin': 'origin_description',
    'precip_origin': 'origin_precip',
    'humidity_origin': 'origin_humidity',
    'visibility_origin': 'origin_visibility',
    'pressure_origin': 'origin_pressure',
    'temp_destination': 'destination_temp',
    'wind_speed_destination': 'destination_wind_speed',
    'description_destination': 'destination_description',
    'precip_destination': 'destination_precip',
    'humidity_destination': 'destination_humidity',
    'visibility_destination': 'destination_visibility',
    'pressure_destination': 'destination_pressure'
})

# Display the modified DataFrame
print(final_merge_dataset.head())

   truck_id    route_id      departure_date   estimated_arrival  delay  \
0  28450066  R-99eda67a 2019-01-01 07:00:00 2019-01-03 09:52:48      0
1  21928760  R-266863d8 2019-01-19 07:00:00 2019-01-19 08:57:36      0
2  32668232  R-57a9c391 2019-01-04 07:00:00 2019-01-04 22:54:36      1
3  32984940  R-e1ff1b1c 2019-01-16 07:00:00 2019-01-16 18:21:36      0
4  27715877  R-9dd9fa45 2019-01-01 07:00:00 2019-01-06 05:48:36      0

   route_avg_temp  route_avg_wind_speed  route_avg_precip  route_avg_humidity  \
0           49.70                  8.80               0.0                77.3
1           70.00                  6.00               0.0                19.0
2           82.75                  8.25               0.0                67.0
3           41.00                  2.50               0.0                95.0
4           46.20                  6.60               0.0                80.2

   route_avg_visibility  ...   driver_id             name  gender   age  \
0                  6.00  ...  734ffab2-0    Carlos Porter    male  47.0
1                  6.00  ...  87a34a65-1  Ronald Campbell    male  50.0
2                  6.00  ...  93c4a4c3-7       James Horn    male  46.0
3                  2.25  ...  0a35a473-0      Kevin Moore    male  47.0
4                  5.80  ...  5b7433a4-b    Sherry Parker  female  40.0

  experience driving_style  ratings  vehicle_no  average_speed_mph  \
0        3.0  conservative      2.0  28450066.0              45.65
1       -7.0  conservative      4.0  21928760.0              35.20
2        7.0  conservative      2.0  32668232.0              49.34
3       13.0  conservative      6.0  32984940.0              51.70
4        3.0  conservative      3.0  27715877.0              46.56

   is_midnight
0            1
1            0
2            0
3            0
4            1

[5 rows x 48 columns]

In [137]:
final_merge_dataset.shape

(12265, 48)

In [138]:
final_merge_dataset.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'route_avg_temp', 'route_avg_wind_speed', 'route_avg_precip',
       'route_avg_humidity', 'route_avg_visibility', 'route_avg_pressure',
       'route_description', 'estimated_arrival_nearest_hour',
       'departure_date_nearest_hour', 'origin_id', 'destination_id',
       'distance', 'average_hours', 'origin_temp', 'origin_wind_speed',
       'origin_description', 'origin_precip', 'origin_humidity',
       'origin_visibility', 'origin_pressure', 'destination_temp',
       'destination_wind_speed', 'destination_description',
       'destination_precip', 'destination_humidity', 'destination_visibility',
       'destination_pressure', 'avg_no_of_vehicles', 'accident', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type', 'driver_id', 'name',
       'gender', 'age', 'experience', 'driving_style', 'ratings', 'vehicle_no',
       'average_speed_mph', 'is_midnight'],
      dtype='object')

In [139]:
# Create a unique ID by adding a new column 'unique_id' with sequential values
final_merge_dataset['unique_id'] = final_merge_dataset.index + 1

# Display the DataFrame with the new unique_id column
print(final_merge_dataset.head())

   truck_id    route_id      departure_date   estimated_arrival  delay  \
0  28450066  R-99eda67a 2019-01-01 07:00:00 2019-01-03 09:52:48      0
1  21928760  R-266863d8 2019-01-19 07:00:00 2019-01-19 08:57:36      0
2  32668232  R-57a9c391 2019-01-04 07:00:00 2019-01-04 22:54:36      1
3  32984940  R-e1ff1b1c 2019-01-16 07:00:00 2019-01-16 18:21:36      0
4  27715877  R-9dd9fa45 2019-01-01 07:00:00 2019-01-06 05:48:36      0

   route_avg_temp  route_avg_wind_speed  route_avg_precip  route_avg_humidity  \
0           49.70                  8.80               0.0                77.3
1           70.00                  6.00               0.0                19.0
2           82.75                  8.25               0.0                67.0
3           41.00                  2.50               0.0                95.0
4           46.20                  6.60               0.0                80.2

   route_avg_visibility  ...             name  gender   age experience  \
0                  6.00  ...    Carlos Porter    male  47.0        3.0
1                  6.00  ...  Ronald Campbell    male  50.0       -7.0
2                  6.00  ...       James Horn    male  46.0        7.0
3                  2.25  ...      Kevin Moore    male  47.0       13.0
4                  5.80  ...    Sherry Parker  female  40.0        3.0

  driving_style ratings  vehicle_no  average_speed_mph  is_midnight  unique_id
0  conservative     2.0  28450066.0              45.65            1          1
1  conservative     4.0  21928760.0              35.20            0          2
2  conservative     2.0  32668232.0              49.34            0          3
3  conservative     6.0  32984940.0              51.70            0          4
4  conservative     3.0  27715877.0              46.56            1          5

[5 rows x 49 columns]

In [140]:
# saving fianl merged data.csv
final_merge_dataset.to_csv('C:/Users/anucv/OneDrive/Desktop/AI and ML training/Machine_Learning/TRUCK_DELAY_CLASSIFICATION_PROJECT/Data/Final_Merged_data/final_merge_dataset.csv', index=False)
final_merge_dataset.columns

Index(['truck_id', 'route_id', 'departure_date', 'estimated_arrival', 'delay',
       'route_avg_temp', 'route_avg_wind_speed', 'route_avg_precip',
       'route_avg_humidity', 'route_avg_visibility', 'route_avg_pressure',
       'route_description', 'estimated_arrival_nearest_hour',
       'departure_date_nearest_hour', 'origin_id', 'destination_id',
       'distance', 'average_hours', 'origin_temp', 'origin_wind_speed',
       'origin_description', 'origin_precip', 'origin_humidity',
       'origin_visibility', 'origin_pressure', 'destination_temp',
       'destination_wind_speed', 'destination_description',
       'destination_precip', 'destination_humidity', 'destination_visibility',
       'destination_pressure', 'avg_no_of_vehicles', 'accident', 'truck_age',
       'load_capacity_pounds', 'mileage_mpg', 'fuel_type', 'driver_id', 'name',
       'gender', 'age', 'experience', 'driving_style', 'ratings', 'vehicle_no',
       'average_speed_mph', 'is_midnight', 'unique_id'],
      dtype='object')

In [141]:
final_merge_dataset.shape

(12265, 49)

In [142]:
final_merge_dataset.isnull().sum()

truck_id                              0
route_id                              0
departure_date                        0
estimated_arrival                     0
delay                                 0
route_avg_temp                        0
route_avg_wind_speed                  0
route_avg_precip                      0
route_avg_humidity                    0
route_avg_visibility                  0
route_avg_pressure                    0
route_description                     0
estimated_arrival_nearest_hour    12265
departure_date_nearest_hour       12265
origin_id                         12265
destination_id                    12265
distance                          12265
average_hours                     12265
origin_temp                       12265
origin_wind_speed                 12265
origin_description                12265
origin_precip                     12265
origin_humidity                   12265
origin_visibility                 12265
origin_pressure                   12265
destination_temp                  12265
destination_wind_speed            12265
destination_description           12265
destination_precip                12265
destination_humidity              12265
destination_visibility            12265
destination_pressure              12265
avg_no_of_vehicles                12265
accident                          12265
truck_age                             0
load_capacity_pounds                  0
mileage_mpg                           0
fuel_type                             0
driver_id                           155
name                                155
gender                              155
age                                 155
experience                          155
driving_style                       155
ratings                             155
vehicle_no                          155
average_speed_mph                   155
is_midnight                           0
unique_id                             0
dtype: int64

In [143]:
final_merge_dataset = final_merge_dataset.drop_duplicates()
final_merge_dataset

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight,unique_id
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,49.70,8.800000,0.0,77.300000,6.000000,...,Carlos Porter,male,47.0,3.0,conservative,2.0,28450066.0,45.65,1,1
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,70.00,6.000000,0.0,19.000000,6.000000,...,Ronald Campbell,male,50.0,-7.0,conservative,4.0,21928760.0,35.20,0,2
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,82.75,8.250000,0.0,67.000000,6.000000,...,James Horn,male,46.0,7.0,conservative,2.0,32668232.0,49.34,0,3
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,41.00,2.500000,0.0,95.000000,2.250000,...,Kevin Moore,male,47.0,13.0,conservative,6.0,32984940.0,51.70,0,4
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,46.20,6.600000,0.0,80.200000,5.800000,...,Sherry Parker,female,40.0,3.0,conservative,3.0,27715877.0,46.56,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12260,14223048,R-b10da1af,2019-01-01 07:00:00,2019-01-01 15:04:12,1,52.00,6.000000,0.0,89.333333,4.333333,...,Joshua Reed,male,36.0,4.0,proactive,8.0,14223048.0,59.21,0,12261
12261,29791384,R-c5868c95,2019-01-13 07:00:00,2019-01-13 19:15:36,0,48.00,12.500000,0.0,73.500000,4.750000,...,Stanley Bowen,male,37.0,4.0,conservative,3.0,29791384.0,43.66,0,12262
12262,10366123,R-c5b19aa5,2019-01-19 07:00:00,2019-01-20 00:10:12,0,53.40,11.600000,0.0,68.400000,5.600000,...,Jacob Carney,male,50.0,6.0,proactive,8.0,10366123.0,66.02,1,12263
12263,14541120,R-5beef1d0,2019-01-10 07:00:00,2019-01-10 15:45:36,0,51.00,8.666667,0.0,77.666667,5.166667,...,Gary Smith,male,49.0,14.0,proactive,4.0,14541120.0,63.42,0,12264
12264,23496275,R-b2e25936,2019-02-03 07:00:00,2019-02-04 03:07:48,0,86.40,9.600000,0.0,57.600000,6.000000,...,Zachary Lee,male,45.0,11.0,conservative,8.0,23496275.0,42.49,1,12265

In [144]:
final_merge_dataset.isnull().sum()

truck_id                              0
route_id                              0
departure_date                        0
estimated_arrival                     0
delay                                 0
route_avg_temp                        0
route_avg_wind_speed                  0
route_avg_precip                      0
route_avg_humidity                    0
route_avg_visibility                  0
route_avg_pressure                    0
route_description                     0
estimated_arrival_nearest_hour    12265
departure_date_nearest_hour       12265
origin_id                         12265
destination_id                    12265
distance                          12265
average_hours                     12265
origin_temp                       12265
origin_wind_speed                 12265
origin_description                12265
origin_precip                     12265
origin_humidity                   12265
origin_visibility                 12265
origin_pressure                   12265
destination_temp                  12265
destination_wind_speed            12265
destination_description           12265
destination_precip                12265
destination_humidity              12265
destination_visibility            12265
destination_pressure              12265
avg_no_of_vehicles                12265
accident                          12265
truck_age                             0
load_capacity_pounds                  0
mileage_mpg                           0
fuel_type                             0
driver_id                           155
name                                155
gender                              155
age                                 155
experience                          155
driving_style                       155
ratings                             155
vehicle_no                          155
average_speed_mph                   155
is_midnight                           0
unique_id                             0
dtype: int64

In [145]:
final_merge_dataset.dropna()

Empty DataFrame
Columns: [truck_id, route_id, departure_date, estimated_arrival, delay, route_avg_temp, route_avg_wind_speed, route_avg_precip, route_avg_humidity, route_avg_visibility, route_avg_pressure, route_description, estimated_arrival_nearest_hour, departure_date_nearest_hour, origin_id, destination_id, distance, average_hours, origin_temp, origin_wind_speed, origin_description, origin_precip, origin_humidity, origin_visibility, origin_pressure, destination_temp, destination_wind_speed, destination_description, destination_precip, destination_humidity, destination_visibility, destination_pressure, avg_no_of_vehicles, accident, truck_age, load_capacity_pounds, mileage_mpg, fuel_type, driver_id, name, gender, age, experience, driving_style, ratings, vehicle_no, average_speed_mph, is_midnight, unique_id]
Index: []

[0 rows x 49 columns]

In [146]:
final_merge_dataset.shape

(12265, 49)

In [147]:
final_merge_dataset.dtypes

truck_id                                   int64
route_id                                  object
departure_date                    datetime64[ns]
estimated_arrival                 datetime64[ns]
delay                                      int64
route_avg_temp                           float64
route_avg_wind_speed                     float64
route_avg_precip                         float64
route_avg_humidity                       float64
route_avg_visibility                     float64
route_avg_pressure                       float64
route_description                         object
estimated_arrival_nearest_hour    datetime64[ns]
departure_date_nearest_hour       datetime64[ns]
origin_id                                 object
destination_id                            object
distance                                 float64
average_hours                            float64
origin_temp                              float64
origin_wind_speed                        float64
origin_description                        object
origin_precip                            float64
origin_humidity                          float64
origin_visibility                        float64
origin_pressure                          float64
destination_temp                         float64
destination_wind_speed                   float64
destination_description                   object
destination_precip                       float64
destination_humidity                     float64
destination_visibility                   float64
destination_pressure                     float64
avg_no_of_vehicles                       float64
accident                                 float64
truck_age                                  int64
load_capacity_pounds                     float64
mileage_mpg                                int64
fuel_type                                 object
driver_id                                 object
name                                      object
gender                                    object
age                                      float64
experience                               float64
driving_style                             object
ratings                                  float64
vehicle_no                               float64
average_speed_mph                        float64
is_midnight                                int64
unique_id                                  int64
dtype: object

In [148]:
final_merge_dataset.head(5)

,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,route_avg_visibility,...,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight,unique_id
0,28450066,R-99eda67a,2019-01-01 07:00:00,2019-01-03 09:52:48,0,49.70,8.80,0.0,77.3,6.00,...,Carlos Porter,male,47.0,3.0,conservative,2.0,28450066.0,45.65,1,1
1,21928760,R-266863d8,2019-01-19 07:00:00,2019-01-19 08:57:36,0,70.00,6.00,0.0,19.0,6.00,...,Ronald Campbell,male,50.0,-7.0,conservative,4.0,21928760.0,35.20,0,2
2,32668232,R-57a9c391,2019-01-04 07:00:00,2019-01-04 22:54:36,1,82.75,8.25,0.0,67.0,6.00,...,James Horn,male,46.0,7.0,conservative,2.0,32668232.0,49.34,0,3
3,32984940,R-e1ff1b1c,2019-01-16 07:00:00,2019-01-16 18:21:36,0,41.00,2.50,0.0,95.0,2.25,...,Kevin Moore,male,47.0,13.0,conservative,6.0,32984940.0,51.70,0,4
4,27715877,R-9dd9fa45,2019-01-01 07:00:00,2019-01-06 05:48:36,0,46.20,6.60,0.0,80.2,5.80,...,Sherry Parker,female,40.0,3.0,conservative,3.0,27715877.0,46.56,1,5

In [149]:
final_merge_dataset.shape

(12265, 49)

In [150]:
final_merge_dataset.isnull().sum()

truck_id                              0
route_id                              0
departure_date                        0
estimated_arrival                     0
delay                                 0
route_avg_temp                        0
route_avg_wind_speed                  0
route_avg_precip                      0
route_avg_humidity                    0
route_avg_visibility                  0
route_avg_pressure                    0
route_description                     0
estimated_arrival_nearest_hour    12265
departure_date_nearest_hour       12265
origin_id                         12265
destination_id                    12265
distance                          12265
average_hours                     12265
origin_temp                       12265
origin_wind_speed                 12265
origin_description                12265
origin_precip                     12265
origin_humidity                   12265
origin_visibility                 12265
origin_pressure                   12265
destination_temp                  12265
destination_wind_speed            12265
destination_description           12265
destination_precip                12265
destination_humidity              12265
destination_visibility            12265
destination_pressure              12265
avg_no_of_vehicles                12265
accident                          12265
truck_age                             0
load_capacity_pounds                  0
mileage_mpg                           0
fuel_type                             0
driver_id                           155
name                                155
gender                              155
age                                 155
experience                          155
driving_style                       155
ratings                             155
vehicle_no                          155
average_speed_mph                   155
is_midnight                           0
unique_id                             0
dtype: int64

In [151]:
# Display columns with null values and their corresponding number of missing entries
null_columns = final_merge_dataset.isnull().sum()

# Filter out columns with more than 0 null values
columns_with_null = null_columns[null_columns > 0]

# Print the result
print("Columns with null values and their respective counts:")
print(columns_with_null)

Columns with null values and their respective counts:
estimated_arrival_nearest_hour    12265
departure_date_nearest_hour       12265
origin_id                         12265
destination_id                    12265
distance                          12265
average_hours                     12265
origin_temp                       12265
origin_wind_speed                 12265
origin_description                12265
origin_precip                     12265
origin_humidity                   12265
origin_visibility                 12265
origin_pressure                   12265
destination_temp                  12265
destination_wind_speed            12265
destination_description           12265
destination_precip                12265
destination_humidity              12265
destination_visibility            12265
destination_pressure              12265
avg_no_of_vehicles                12265
accident                          12265
driver_id                           155
name                                155
gender                              155
age                                 155
experience                          155
driving_style                       155
ratings                             155
vehicle_no                          155
average_speed_mph                   155
dtype: int64

In [152]:
# # Drop rows with missing values in 'no_of_vehicles'
# final_merge_dataset = final_merge_dataset.dropna(subset=['estimated_arrival_nearest_hour', 'departure_date_nearest_hour '])

# # Check the shape of the cleaned DataFrame
# print(f"Shape of the cleaned DataFrame: {final_merge_dataset.shape}")

# # Verify if there are any missing values left
# missing_values_after = final_merge_dataset.isnull().sum()
# print(missing_values_after)