In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [2]:

# Database connection parameters
db_host = 'localhost'  # or the IP address of your Docker container
db_port = '5432'
db_name = 'truck_delay_classification'
db_user = 'postgres'
db_password = 'Anu0408'  # Change this if you set a different password

# Create a connection engine
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# Query to select data
query = 'SELECT * FROM city_weather;'  

#query = 'SELECT * FROM drivers_table;'  


# Read data into a DataFrame
city_weather = pd.read_sql_query(query, engine)

In [4]:
# Display the first few rows of the DataFrame
city_weather.head()

,id,city_id,date,hour,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
0,1,C-927ceb5e,2019-01-01,0,30,11,Light snow,0.0,86,6,1019,0,0,0,0
1,2,C-927ceb5e,2019-01-01,100,28,12,Light snow,0.0,86,5,1021,0,0,0,0
2,3,C-927ceb5e,2019-01-01,200,28,13,Moderate snow,0.0,85,4,1022,0,0,0,0
3,4,C-927ceb5e,2019-01-01,300,28,14,Moderate snow,0.0,84,3,1024,0,0,0,0
4,5,C-927ceb5e,2019-01-01,400,28,13,Moderate snow,0.0,84,3,1025,0,0,0,0

In [5]:
city_weather.dtypes

id                  int64
city_id            object
date               object
hour               object
temp               object
wind_speed         object
description        object
precip             object
humidity           object
visibility         object
pressure           object
chanceofrain       object
chanceoffog        object
chanceofsnow       object
chanceofthunder    object
dtype: object

In [6]:
city_weather.describe()

                 id
count  275880.00000
mean   248292.50000
std    168113.64808
min         1.00000
25%    124146.75000
50%    193116.50000
75%    427614.25000
max    496584.00000

Data Types
It looks like some of the columns (like temp, wind_speed, precip, humidity, pressure) are being read as object types. These should likely be converted to numerical types for analysis.

Potential Issues:
hour, temp, wind_speed, precip, humidity, pressure are in object format, so they need conversion to numerical values for proper analysis.

2. Missing Values
We can check for missing values in each column to see if any require imputation or removal.

3. Descriptive Statistics
You’ve already shared the summary statistics for the id column. We should generate similar statistics for other relevant columns (like temp, wind_speed, etc.) once they're converted to numerical types.